<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="26/08/2024 07:07" createdAt="25/08/2024"
  notes="we have two bags that are full. One with plastic and the other with glasses"></app-pickup-call-card>

  <app-pickup-call-card status="processing" updatedAt="26/08/2024 09:00" createdAt="26/08/2024"
  notes="we have two bags that are full"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="27/08/2024 19:19" createdAt="27/08/2024" value="Rp100.000"></app-pickup-call-card>
</ion-content>
